<p id="notice"><%= notice %></p>

<h1>Bolgs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bolgs.each do |bolg| %>
      <tr>
        <td><%= bolg.title %></td>
        <td><%= bolg.body %></td>
        <td><%= link_to 'Show', bolg %></td>
        <td><%= link_to 'Edit', edit_bolg_path(bolg) %></td>
        <td><%= link_to 'Destroy', bolg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bolg', new_bolg_path %>
